.title-h1 {
    font-family: helvetica-bold;
    font-size: 60px;
}

.arrow-button {
    display: flex;
    justify-content: center;
    position: relative;
}

.arrow-button-second {
    display: flex;
    position: relative;
    margin-bottom: 60px;
    justify-content: left;
}

.more-projects {
    border: 1px solid black;
    width: 225px;
    text-align: center;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 20px;
    transition: 0.4s;
    margin-left: 30px;
    font-weight: 100;
}

.more-projects-second {
    border: 1px solid black;
    width: 250px;
    text-align: center;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 20px;
    transition: 0.4s;
    margin-left: 45px;
    font-weight: 100;
}

.more-projects:hover, .more-projects-second:hover {
    color: white;
    background-color: black;
    transition: 0.4s;
}

.more-projects:hover + .arrow{
    right: 330px;
    transition: 0.4s;
}
.more-projects-second:hover + .arrow-second{
    left: 10px;
    transition: 0.4s;
}

.arrow {
    position: relative;
    top: 0px;
    right: 340px;
    transition: 0.4s;
}

.arrow-second {
    position: absolute;
    top: 40px;
    left: 0vw;
    transition: 0.4s;
}

.left-small-text-content-bottom {
    max-width: 900px;
    font-weight: 100;
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    font-size: 26px;
}

.text-content-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -5px;
}

.what-i-am-doing-text {
    border-bottom: 1px solid black;
    /* ewentualnie zmienic na underline */
    max-width: fit-content;
    font-weight: 100;
    line-height: 26px;
    font-size: 26px;
    margin-top: 55px;
}

.right-text-content-bottom {
    text-align: left;
    width: 600px;
    font-weight: 700;
    margin-right: 10px;
}

.text-with-arrow {
    display: flex;
    flex-direction: row;
    line-height: 0px;
    margin-bottom: -10px;
}
.small-arrow {
    margin-right: 10px;
    margin-top: 2px;
    align-self: center;
    font-size: 22px;
    font-weight: 400;
}

.i-am-doing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 33px;
}

.small-text {
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
    font-family: helvetica;
}

.h1-competention {
    font-size: 40px;
    font-family: helvetica-bold;
    font-weight: 100;
    margin-top: 55px;
    margin-bottom: 40px;
}

.h3-competention {
    font-weight: 100;
    font-size: 40px;
}

.p-imdoing {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 0.5px;
}

