.contact-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.contact-left {
    width: 500px;
}
.contact-right {
    width: 500px;
}

.left-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

