.app {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
}

.app {
    font-family: helvetica;
}

@font-face {
    font-family: helvetica;
    src: url(../Source/./././fonts/FontThin.ttf);
}


@font-face {
    font-family: grotesk;
    src: url(../Source/./././Helvetica-Bold.ttf);
}

@font-face {
    font-family: h3light;
    src: url(../Source/./././fonts/FontThin.ttf);
}

