.app {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.app {
    font-family: helvetica;
}

@font-face {
    font-family: helvetica;
    src: url(../Source/./././helvetica.ttf);
}

@font-face {
    font-family: helvetica-bold;
    src: url(../Source//Helvetica-Bold.ttf);
}

@font-face {
    font-family: helvetica-l;
    src: url(../Source/helvetica-light.ttf);
}