.footer {
    color: white;
    background-color: black;
}

html {
    /* background-color: black; */
}

/* body {
    background-color: white;
    margin-top: -20px;
    max-height: 143vw;
} */

.flex-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-info {
    text-align: right;
    width: 100%;
}

.inside {
    margin-left:70px;
    margin-right: 70px;
}

.white-line {
    border-bottom: 1px solid white;
    width: 355px;
    position: absolute;
    right: 0vw;
}

.contact {
    font-size: 25px;
    line-height: 5px;
}

.txt-first {
    font-size: 25px;
    margin-bottom: 70px;
}

.txt-second {
    /* width: 160vw; */
    min-width: 900px;
    width: 900px;
    font-size: 20px;
    margin-bottom: 35px;
}

.txt-third {
    max-width: 55%;
    font-size: 20px;
}

.more-projects-footer{
    border: 1px solid white;
    width: 225px;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    font-size: 20px;
    transition: 0.3s;
    margin-left: 70px;
}

.more-projects-footer:hover {
    color: black;
    background-color: white;
    transition: 0.4s;
}

.arrow-footer {
    position: relative;
    right: 310px;
    transition: 0.4s;
    top: 27px;
    height: 20px;
}

.more-projects-footer:hover + .arrow-footer {
    right: 280px;
}

.bottom-line {
    border-bottom: 2px solid white;
}

.empty {
    height: 30px;
}

.arrow-button-footer {
    display: flex;
    justify-content: right;
    position: relative;
    margin-bottom: 150px;
    margin-left: 125px;
}

.split-bottom {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.split-bottom-left{

}

.split-bottom-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
    min-width: 700px;
}

.arrow-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.return-to-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}

.square {
    transform: rotate(270deg);
    position: relative;
    top: 0px;
    color: black;
    background-color: white;
    padding: 20px;
    width: 40px;
    height: 40px;
    margin-right: -70px;
    cursor: pointer;
}


