.footer {
    color: white;
    background-color: #1a1a1a;
}

@font-face {
    font-family: helvetica;
    src: url(/src/Source/helvetica.ttf);
}

html {
    /* background-color: black; */
}

/* body {
    background-color: white;
    margin-top: -20px;
    max-height: 143vw;
} */

.flex-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-info {
    text-align: right;
    width: 100%;
}

.inside {
    margin-left:120px;
    margin-right:120px;
    padding-top: 10px;
}

.white-line {
    border-bottom: 1px solid white;
    width: 355px;
    position: absolute;
    right: 0vw;
}

.contact {
    font-size: 26px;
    font-family: helvetica;
    margin-top: 43px;
    line-height: 2px;
}

.returntotoptext {
    font-family: helvetica;
    font-size: 20px;
    margin-left: 90px;
    margin-top: 30px;
}

.contactTwo {
    font-size: 26px;
    font-family: helvetica;
    margin-top: -5px;
    margin-bottom: 15px;
}

.txt-first {
    font-size: 60px;
    font-weight: 700;
    font-family: helvetica-bold;
    margin-bottom: -20px;
}

.txt-second {
    /* width: 160vw; */
    min-width: 1020px;
    width: 1050px;
    font-size: 26px;
    line-height: 40px;
    margin-bottom: -10px;
    font-weight: 400;
}

.txt-third {
    max-width: 50%;
    min-width: 1000px;
    font-size: 20px;
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
}

.more-projects-footer{
    border: 1px solid white;
    width: 225px;
    text-align: center;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 20px;
    transition: 0.4s;
    margin-left: 30px;
    font-weight: 100;
    margin-left: 70px;
}

.more-projects-footer:hover {
    color: black;
    background-color: white;
    transition: 0.4s;
}

.arrow-footer {
    position: relative;
    right: 355px;
    transition: 0.4s;
    top: 37px;
    height: 20px;
}

.more-projects-footer:hover + .arrow-footer {
    right: 340px;
}

.bottom-line {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.empty {
    height: 30px;
}

.arrow-button-footer {
    display: flex;
    justify-content: right;
    position: relative;
    margin-bottom: 150px;
    margin-left: 125px;
}

.split-bottom {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.split-bottom-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
    min-width: 700px;
}

.arrow-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -70px;
}

.return-to-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}

.square {
    transform: rotate(270deg);
    position: relative;
    top: 0px;
    color: black;
    background-color: white;
    padding: 20px;
    width: 40px;
    height: 40px;
    margin-right: -120px;
    cursor: pointer;
}

.text-footer-bottom {
    font-family: helvetica;
    font-weight: 100;
    font-size: 20px;
}


